/*
Color theme pulled from my bakground image - https://c4.wallpaperflare.com/wallpaper/214/442/543/digital-art-son-goku-dragon-ball-dragon-ball-z-island-hd-wallpaper-preview.jpg
https://coolors.co/ccc476-4e6cc2-d96936-edaaa2-6c3521

#CCC476 - gold
#4E6CC2 - blue
#D96936 - orange
#EDAAA2 - pink
#6C3521 - brown

*/
.gold{    background:#CCC476;}
.blue{    background:#4E6CC2;}
.orange{    background:#D96936;}
.pink{    background:#EDAAA2;}
.brown{    background:#6C3521;}



body{
    color:#333;
    background:#ccc;
}

header{
    background:#fff;
    border-bottom:#999 2px solid;
}
.inner{
    margin:auto;
}
.navbar{
    float:right;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:100%;
}
nav a{
    color:#222;
}
nav .active{
    text-shadow: #D96936 0 0 10px;
}

.title{
    text-align:center;
}

h1{
    color:#eee;
    padding:10px;
    text-align:center;
}

h2{
    color:#4E6CC2;
}

.main{
    margin:30px;
}

.content{
    padding:20px;
    max-width:700px;
}
.about-img{
    max-height:200px;
    margin-right:20px;
}

.footer-content{
    padding:10px;
    margin-top:10px;
    color:#eee;
}
.footer{
    width:100%;
    margin-top:30px;
}

.sticky-bottom{
    position:fixed;
    bottom:0px;
}