/*
Color theme pulled from my bakground image - https://c4.wallpaperflare.com/wallpaper/214/442/543/digital-art-son-goku-dragon-ball-dragon-ball-z-island-hd-wallpaper-preview.jpg
https://coolors.co/ccc476-4e6cc2-d96936-edaaa2-6c3521

#CCC476 - gold
#4E6CC2 - blue
#D96936 - orange
#EDAAA2 - pink
#6C3521 - brown

*/
.gold{    background:#CCC476;}
.blue{    background:#4E6CC2;}
.orange{    background:#D96936;}
.pink{    background:#EDAAA2;}
.brown{    background:#6C3521;}



body{
    color:#333;
    background:#ccc;
}
/*
    Header
*/

header{
    border-bottom:#6C3521 2px solid;
}

.inner{
    margin:auto;
}

.navbar{
    justify-content: center;
}

.nav-link{
    color:#555;
    font-weight:bold;
}
nav .active{
    color:#6C3521;
    text-shadow: #D96936 0px 0px 2px;
}

.title{
    text-align:center;
}
/* 
h1{
    color:#eee;
    padding:10px;
    text-align:center;
} */

/*
    Main Body
*/
h2{
    color:#4E6CC2;
}

.main{
    margin:30px;
}

.content{
    padding:20px;
    max-width:700px;
}
.about-img{
    max-height:200px;
    margin-right:20px;
}

/* Portflio / cards */
.port-card{
    width:300px;
    height:200px;
    overflow:hidden;
    border:1px solid #D96936;
    box-shadow:2px 2px 4px rgba(0,0,0,.6)
}

.port-text{
    top:-3.25em;
    left:1em;
    background:#D96936;
    border-top:1px solid #CCC476;
    border-bottom:3px solid #6C3521;
    padding:2px 0px;
    padding-left:25px;
    transform: rotate(-20deg);
}

.port-text:hover{
    text-decoration: none;
}

/*
Footer

no code needed anymore, did everything with bootstrap
*/
@media screen and (min-width: 768px) {
    .navbar{
        justify-content: flex-end;
    }
}